<nav class="navbar navbar-light bg-primary">
  <div class="container-fluid">
    <h1 style="color: aliceblue">Angular CRUD</h1>
    <div class="d-flex">
      <button
        (click)="clickAddEmployee()"
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
        class="btn btn-success"
      >
        Add Employee
      </button>
      <button routerLink="/login" class="btn btn-danger mx-2">Logout</button>
    </div>
  </div>
</nav>

<div class="container-fluid mt-2">
  <h5>Search By First Name</h5>
  <input
    type="text"
    class="form-control"
    name="firstName"
    [(ngModel)]="searchTerm"
    placeholder="Enter the First Name to search"
  />
</div>

<table class="table mt-3">
  <thead>
    <tr>
      <th scope="col">Employee ID</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email ID</th>
      <th scope="col">Location</th>
      <th scope="col">Mobile No</th>
      <th scope="col">Salary</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="
        let row of employeeData
          | filter : searchTerm
          | paginate : { itemsPerPage: itemsPerPage, currentPage: currentPage }
      "
    > <!-- Normal Pagination -->
      <!-- <td>1.</td>
        <td>Sharan</td>
        <td>Reddy</td>
        <td>sharanreddy60@gmail.com</td>
        <td>9885080890</td>
        <td>$ 50,000</td> -->
      <td>{{ row.id }}.</td>
      <td>{{ row.firstName }}</td>
      <td>{{ row.lastName }}</td>
      <td>{{ row.email }}</td>
      <td>{{ row.location }}</td>
      <td>{{ row.mobile }}</td>
      <td>&nbsp;{{ row.salary | currency : "INR" }}</td>
      <td>
        <button
          style="color: aliceblue"
          type="button"
          data-bs-toggle="modal"
          (click)="onEdit(row)"
          data-bs-target="#exampleModal"
          class="btn btn-info"
        >
          Edit
        </button>
        <button (click)="deleteEmployee(row)" class="btn btn-danger mx-3">
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
<!-- Normal Pagination -->
<div class="paginator">
<pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
</div>
<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Employee Details
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formValue">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"
              >First Name</label
            >
            <input
              [ngClass]="
                formValue.controls['firstName'].touched &&
                formValue.hasError('required', 'firstName')
                  ? 'primary'
                  : 'secondary'
              "
              placeholder="firstName"
              type="text"
              formControlName="firstName"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
            />
            <p>
              <small
                *ngIf="
                  formValue.controls['firstName'].touched &&
                  formValue.hasError('required', 'firstName')
                "
                class="text-danger"
                >*First Name is required</small
              >
            </p>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Last Name</label
            >
            <input
              [ngClass]="
                formValue.controls['lastName'].touched &&
                formValue.hasError('required', 'lastName')
                  ? 'primary'
                  : 'secondary'
              "
              placeholder="lastName"
              type="text"
              formControlName="lastName"
              class="form-control"
              id="exampleInputPassword1"
            />
            <p>
              <small
                *ngIf="
                  formValue.controls['lastName'].touched &&
                  formValue.hasError('required', 'lastName')
                "
                class="text-danger"
                >*last name is required</small
              >
            </p>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Email ID</label
            >
            <input
              [ngClass]="
                formValue.controls['email'].touched &&
                formValue.hasError('required', 'email')
                  ? 'primary'
                  : 'secondary'
              "
              placeholder="email"
              type="email"
              formControlName="email"
              class="form-control"
              id="exampleInputPassword1"
            />
            <p>
              <small
                *ngIf="
                  formValue.controls['email'].touched &&
                  formValue.hasError('required', 'email')
                "
                class="text-danger"
                >*email is required</small
              >
            </p>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Location</label
            >
            <input
              [ngClass]="
                formValue.controls['location'].touched &&
                formValue.hasError('required', 'location')
                  ? 'primary'
                  : 'secondary'
              "
              placeholder="location"
              type="location"
              formControlName="location"
              class="form-control"
              id="exampleInputPassword1"
            />
            <p>
              <small
                *ngIf="
                  formValue.controls['location'].touched &&
                  formValue.hasError('required', 'location')
                "
                class="text-danger"
                >*location is required</small
              >
            </p>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Mobile Number</label
            >
            <input
              [ngClass]="
                formValue.controls['mobile'].touched &&
                formValue.hasError('required', 'mobile')
                  ? 'primary'
                  : 'secondary'
              "
              placeholder="mobile"
              type="text"
              formControlName="mobile"
              class="form-control"
              id="exampleInputPassword1"
            />
            <p>
              <small
                *ngIf="
                  formValue.controls['mobile'].touched &&
                  formValue.hasError('required', 'mobile')
                "
                class="text-danger"
                >*mobile number is required</small
              >
            </p>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Salary</label>
            <input
              [ngClass]="
                formValue.controls['salary'].touched &&
                formValue.hasError('required', 'salary')
                  ? 'primary'
                  : 'secondary'
              "
              placeholder="salary"
              type="text"
              formControlName="salary"
              class="form-control"
              id="exampleInputPassword1"
            />
            <p>
              <small
                *ngIf="
                  formValue.controls['salary'].touched &&
                  formValue.hasError('required', 'salary')
                "
                class="text-danger"
                >*salary is required</small
              >
            </p>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          id="cancel"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >
          Close
        </button>
        <button
          type="button"
          *ngIf="showUpdate"
          (click)="updateEmployeeDetails()"
          class="btn btn-primary"
        >
          Update
        </button>
        <button
          type="button"
          *ngIf="showAdd"
          (click)="postEmployeeDetails()"
          class="btn btn-primary"
        >
          Add
        </button>
      </div>
    </div>
  </div>
</div>
